<template>
  <div id="app">
    <HelloWorld msg="Let's draw a rectangle"/>
    <SimpleDrawing />
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
// import SimpleDrawing from './components/00-SimpleDrawing.vue';
import SimpleDrawing from './components/01-SimpleDrawing.vue';

export default {
  name: 'app',
  components: {
    HelloWorld,
    SimpleDrawing
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
