<template>
  <div id="app">
    <HelloWorld msg="Let's play with a store"/>
    <PetList />
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
// import PetList from './components/00-PetList.vue'
import PetList from './components/01-PetList.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    PetList
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
