<template>
  <div>
    <p>Width</p>
    <vueSlider ref="slider-width" v-model="width" :min="0" :max="500"></vueSlider>
    <p>Height</p>
    <vueSlider ref="slider-width" v-model="height" :min="0" :max="500"></vueSlider>
    <div ref="drawing">
    </div>
  </div>
</template>

<script>
import drawing from './01-draw.js';
import vueSlider from 'vue-slider-component';

export default {
  name: 'SimpleDrawing',
  components: {
    vueSlider
  },
  data: function() {
    return {
      drawing: undefined,
      colors: ['#f7e559', '#e45d49', '#8c5414', '#485c70', '#797373'],
      color: undefined,
      width: 300,
      height: 300
    }
  },
  methods: {
    drawNewRect: function() {
      if(this.drawing) {
        this.drawing.clear();
        this.drawing.draw(this.width, this.height, this.color);
      }
    }
  },
  watch: {
    width: {
      handler: function() {
        this.drawNewRect();
      }
    },
    height: {
      handler: function() {
        this.drawNewRect()
      }
    },
    color: {
      handler: function() {
        this.drawNewRect();
      }
    }
  },
  mounted: function() {
    this.drawing = drawing(
      500, 
      500,
      this.$refs.drawing,
      () => { 
        this.color = this.colors[Math.floor(Math.random()*this.colors.length)];
      }
    );
    this.drawNewRect();
  }
}
</script>

<style scoped>
</style>
