<template>
  <div class="pet">
    <h1>Bryan's Pets (* = favorite)</h1>
    <pet :key="pet.name" v-for="pet in pets" :pet=pet>
    </pet>
  </div>
</template>

<script>
import Pet from './00-Pet.vue'
export default {
  name: 'PetList',
  components: {
    Pet
  },
  data: function() {
    return {
      pets: [
        { 
          name: 'Eddie',
          species: 'dog',
          breed: 'beagle',
          gender: 'male'
        },
        { 
          name: 'Pocket',
          species: 'dog',
          breed: 'beagle',
          gender: 'male'
        },
        { 
          name: 'Sugar',
          species: 'dog',
          breed: 'shorgi',
          gender: 'female'
        },
        {
          name: 'Sparkle',
          species: 'dog',
          breed: 'beagle',
          gender: 'female'
        },
        { 
          name: 'Honey',
          species: 'dog',
          breed: 'mixed',
          gender: 'female'
        },
        { 
          name: 'Blauser',
          species: 'dog',
          breed: 'dachshund',
          gender: 'male'
        },
        { 
          name: 'Sambo',
          species: 'rabbit',
          gender: 'male'
        }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
