<template>
  <div class="pet">
    {{ favorite }} {{ pet.name }} is a {{ pet.gender }} {{ breedWithSpecies }}.
  </div>
</template>

<script>
export default {
  name: 'Pet',
  props: ['pet'],
  computed: {
    breedWithSpecies: function() {
      if(this.pet.breed) {
        return `${this.pet.breed} ${this.pet.species}`;
      } else {
        return this.pet.species;
      }
    },
    favorite: function() {
      if(this.pet.species === 'dog' && this.pet.breed === 'beagle' && this.pet.gender === 'female') {
        return "*";
      } else {
        return "";
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
