<template>
  <div class="pet">
    {{ pet.favorite() }} {{ pet.name() }} is a {{ pet.gender() }} {{ pet.breedWithSpecies() }}.
  </div>
</template>

<script>
export default {
  name: 'Pet',
  props: ['pet']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
