<template>
  <div class="pet">
    <h1>Bryan's Pets (* = favorite)</h1>
    <pet :key="name" v-for="name in petNames" :pet=getPetByNameHelpers(name)>
    </pet>
  </div>
</template>

<script>
import Pet from './01-Pet.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'PetList',
  data: function() {
    return {
      petNames: [
        'Eddie',
        'Pocket',
        'Sugar',
        'Sparkle',
        'Honey',
        'Blauser',
        'Sambo'
      ]
    }
  },
  components: {
    Pet
  },
  computed: {
    ...mapGetters([
      'getPetByNameHelpers'
    ])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
